body{
    text-align: center;
}
button{
    width: 150px;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 2px;
}

#incButton{
    background-color: red;
}

#saveButton{
    background-color: green;
}